<p id="notice"><%= notice %></p>

<p>
  <strong>Teacher:</strong>
  <%= @message.teacher_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @message.student_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @message.image_url %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
