<!DOCTYPE html>
<html>
  <head>
    <title>EduRoom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="top">
    <div class="top-bgimg absolute"></div>
    <div class="top-bgcover absolute animation"></div>
    <div class="delay-animation">
      <div class="absolute title">EDU.ROOM</div>
      <div class="absolute subTitle">「教えたい」と「教わりたい」を繋ぐ部屋。</div>
      
      <%= link_to new_user_session_path, class: "absolute button2" do %>
        <p class="clik">Sign in</p>
        <div class="hoveur"></div>
      <% end %>
    </div>
  </body>
</html>
